body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: sans-serif;
}
.fa {
	font-family: 'FontAwesome';
}
.btnHolder {
	height: 100vh;
    width: 100%;
	display: inline-flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.googleIcon {
	width: 25px;
	vertical-align: middle;
}
.googleBtn {
    text-decoration: none;
    font-weight: bold;
    background: #fff;
    padding: 20px;
    color: #C3C3B7;
    box-shadow: 0px 1px 4px #cfcaca;
    font-family: 'Roboto', sans-serif;
}
.googleBtn img {
	margin-right: 10px;
}

h1 {
  text-align: center;
}

ul.navList li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
ul.navList li a {
    background: #ccc;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
ul.navList li a:hover {
  background: #333;
}


table {
  border-collapse: collapse;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
table tr {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
table tr:last-child {
    border-bottom: none;
}
table tr td:nth-child(2) {
    width: 74%;
}
table td, 
table th {
    padding: 10px 15px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.googleMail {
    background: rgba(255,255,255,0.1);
    padding: 20px 20px;
    color: #fff;
}
span.snippet {
    color: #fff6f6cc;
    font-size: 14px;
    padding: 0 10px;
}
.container {
    background: url(bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 50px 20px;
}
ul {
    list-style: none;
    padding-left: 0;
}
ul li:nth-child(1) a {
  background: #3cba54bf;
}
ul li:nth-child(2) a {
    background: #f4c20d9c;
}
ul li:nth-child(3) a {
  background: #db323694;
}
ul li:nth-child(1) a:hover {
  background: #309243;
}
ul li:nth-child(2) a:hover {
    background: #caa10e;
}
ul li:nth-child(3) a:hover {
  background: #b3292c;
}
ul.navList li a {
    color: #fff;
    text-shadow: 0px 0px 5px #a5a2a2;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
